@import './../templateDeColores/colores.scss';

.footer-titulo-seccion {
  font-size: 26px;
  letter-spacing: 1.6px;
  color: $text-gray;
}

.footer-p {
  letter-spacing: 1.2px;
  line-height: 1.7;
  font-size: 14px !important;
  margin-bottom: 4px;
  color: $text-gray;
}

.footer-simple-link {
  border-left: solid 3px transparent;
  padding-left: 6px;
  color: $text-gray !important;
}

.footer-simple-link__active {
  border-left: solid 3px $primary;
  color: $primary !important;
}
