@import './../templateDeColores/colores.scss';

$HEADER_ALTURA: 80px;
$BORDE_GROSOR: 4px;

.header {
  height: $HEADER_ALTURA;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.header-logo-img {
  height: $HEADER_ALTURA;
  width: auto;
  padding: 5px 0;
}

.nav-class-wraper {
}

.nav-class {
  padding: 0 6px;
  text-transform: uppercase;

  text-align: center;
  color: $text-white;
  height: 100%;
  line-height: $HEADER_ALTURA - 2 * $BORDE_GROSOR;

  border-top: solid $BORDE_GROSOR transparent;
  border-bottom: solid $BORDE_GROSOR transparent;
}
.nav-class:hover {
  text-decoration: none;
  color: $primary;
  border-top: solid $BORDE_GROSOR $primary;
}

.nav-active-class {
  border-top: solid $BORDE_GROSOR $primary;
  color: $primary;
}
