.item-contenedor {
  border-top: 6px solid transparent;
}

.item-contenedor__active {
  border-top-color: $primary;
}

.item-description {
  line-height: 1.6;
  font-size: 14px !important;
  color: #847a7a !important;
  text-align: justify;
  text-align: center;
}
