@import './../templateDeColores/colores.scss';
.slider {
  position: relative;
  width: 100%;
}

.img-background {
  width: 100%;
  object-fit: cover;
}

.opasity-layer {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.slider-simple-next {
  position: absolute;
  right: 2%;
  top: 50%;
  color: $text-gray-light;
  border-radius: 100%;
  padding: 20px;
  background-color: transparent;
  border: solid 1px transparent;
  z-index: 10;
  font-size: 2rem;
  outline: transparent !important;
  margin-top: -40px;
  opacity: 0.4;
}

.slider-simple-before {
  position: absolute;
  left: 2%;
  top: 50%;
  color: $text-gray-light;
  border-radius: 100%;
  background-color: transparent;
  border: solid 1px transparent;
  z-index: 10;
  padding: 20px;
  font-size: 2rem;
  outline: transparent !important;
  margin-top: -40px;
  opacity: 0.4;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1);
}
