//COLORES
$primary: #4a9fff;
$secondary: #959595;
$body-bg: white;
$body-color: #3b3b3b;
$text-black: #3b3b3b;
$text-gray: #858585;
$text-gray-light: #b3b3b3;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
);
